body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the body takes up full viewport height */
    margin: 0; /* Removes default margin */
    flex-direction: column; /* Optional: Center content vertically as well */
    font-family: 'Playfair Display', 'Courier New', monospace;
    font-style: italic;
    color: #1b0969;
    background-color: wheat;
    margin: 0 20px; /* Top & bottom margin = 0, Left & right margin = 20px */
}
