body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the body takes up full viewport height */
    flex-direction: column; /* Optional: Center content vertically as well */
    font-family: 'Playfair Display', 'Courier New', monospace;
    color: #1b0969;
    background-color: #FFF5EE;
    margin: 0 20px; /* Top & bottom margin = 0, Left & right margin = 20px */
}
h1,h2,h3,h4,h5,h6 {
    font-style: normal;
}
p {
    font-style: italic;
}